body { margin: 0px; font-family: Arial, Helvetica, sans-serif; }

nav { background-color: rgba(0, 150, 0, 1); }

.nav-logo { height: 30px; width: 30px; padding:10px; }
.nav-logo-text { height:30px; padding-top: 10px; padding-bottom: 10px; }

.content-top { display: inline-flex; min-height: 300px; }

.content-left { padding: 25px 0px 0px 25px; display: inline-block; width: 50vw; }
.content-right { display: inline-block; width: calc(50vw - 50px); }

.page-title { padding-left: 20px; }


.circle { height: 200px; width: 200px; padding: 10px; border-radius: 50%; background-color: #faebd7; }
.circle-top { height: 400px; width: 400px; }
.container-trippel { max-width: 220px; display: inline-block; margin:25px}
.p-trippel {text-align: center; color: white; }

.desc-img { max-width: 100%; }

@media screen and (max-width: 1000px)
{
    
    .circle-top { height: 300px; width: 300px; margin-top: 50px; }
}

@media screen and (max-width: 850px) 
{
    .circle-top { height: 200px; width: 200px; }
    .circle { height: 100px; width: 100px; }
    .content-top { display: block; }
    .content-left { width: auto; padding: 25px 0px 0px 0px; }
    .content-right { width: auto; display: block; }
}

.function-description { }